/* ==========================================================================
   Buttons
   ========================================================================== */

.site-container,
.acf-block-preview {
    .button {
        background-color: #333;
        border: none;
        box-shadow: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-size: 16px !important;
        font-weight: 600;
        padding: 15px 30px;
        display: inline-block;
        line-height: 1em;
        text-align: center;
        text-decoration: none;
        height: auto;

        &:focus,
        &:hover {
            background-color: #0073e5;
            color: #fff;
        }
    }
}
