/* ==========================================================================
   Buttons
   ========================================================================== */

.button {
    background-color: $highlight;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px !important;
    font-weight: 600;
    padding: 15px 30px;
    display: inline-block;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    height: auto;
    border-radius: 3px;
    margin-right: 5px;
    border: 2px solid $highlight;
    transitioN: .3s all ease;

    &:focus,
    &:hover {
        color: #fff;
        background-color: lighten($highlight, 10%);
        border-color: lighten($highlight, 10%);
    }

    &.button-small {
        padding: 5px 20px;
        height: auto;
    }

    &.button-outline {
        background-color: transparent;
        border: 2px solid white;
        color: white;

        &:focus,
        &:hover {
            color: #fff;
            background-color: lighten($highlight, 10%);
            border-color: lighten($highlight, 10%);
        }
    }
}

.site-container,
.acf-block-preview,
.lity {
    .button {
        @extend .button;
    }
}

.ab-button {
    background-color: $highlight;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 3px;
    padding: 15px 20px;
}