/* ==========================================================================
   Block width
   ========================================================================== */

/* Regular content width.
/* Add 27px to match paragraph width on front-end and editor.
---------------------------------------------------------------------------- */
.wp-block {
    max-width: calc(#{$defaultblogwidth + 26px });
}

/* ==========================================================================
   Alignment
   ========================================================================== */

/* Width of "wide" blocks
/* 1062px + 30px so wide images match width in front-end and editor.
/* 1062px = default column width of 702px + .alignwide negative margin of 360px
---------------------------------------------------------------------------- */
.wp-block[data-align="wide"] {
    max-width: calc(#{$defaultcontentwidth} + 30px);
}

.wp-block[data-align="full"] {
    max-width: none;
}

/* ==========================================================================
   Captions
   ========================================================================== */

.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
    color: #666;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* ==========================================================================
   Lists in the editor
   ========================================================================== */

ul.rich-text,
ol.rich-text {
    padding-left: 40px;
}