/* ==========================================================================
   For pages
   ========================================================================== */

.full-width-content .content>article.page .entry-header {
    margin-bottom: 3vw;
    padding-top: 3vw;

    // max-width: 100vw;
 // width: 100vw;
 // padding: 2vw 0 !important;
 // margin-left: calc(50% - 50vw);
 // margin-right: calc(50% - 50vw);
 // color: white;
 // background-color: #333;

 // :last-child {
 //     margin-bottom: 0;
 // }

 // >* {
 //     max-width: 800px;
 //     text-align: center;
 //     margin-left: auto;
 //     margin-right: auto;
 // }
}