/* ==========================================================================
   Footer widgets
   ========================================================================== */

.footer-widgets {
    background-color: $light;
    clear: both;
    padding: 60px 0;

    @include notdesktop {
        text-align: left;
        padding: 15px 0;
    }

    .widget {
        margin: 30px 0;
    }


    >.wrap {
        margin: 0 auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: calc(#{$defaultcontentwidth} + 60px);

        @include tablet {
            flex-flow: row wrap;
        }

        @include mobile {
            flex-flow: column;
        }
    }

    .footer-widget-area {
        width: 100%;
        margin: 0 30px;

        @include mobile {
            margin: 0;
        }
    }

    .footer-widget-area:last-child,
    .footer-widgets .widget:last-child {
        margin-bottom: 0;
    }

    .widget:last-child {
        margin-bottom: 0;
    }
}


/* ==========================================================================
   Prefooter
   ========================================================================== */

.above-footer {
    background-color: lighten($dark, 5%);
    text-align: center;
    padding: 75px 0;

    @include mobile {
        text-align: left;
        padding: 30px;
    }

    h4.widget-title {
        @extend h2;

        color: white;
    }

    p {
        color: white;
    }

    .wrap {
        max-width: 700px;
        margin: 0 auto;
    }

    :last-child {
        margin-bottom: 0;
    }

}

/* ==========================================================================
   Site footer
   ========================================================================== */

.site-footer {
    background-color: #fff;
    padding: 30px;
    text-align: center;

    .wrap {
        max-width: $defaultcontentwidth;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* ==========================================================================
   Footer nav
   ========================================================================== */

.nav-secondary {
    margin-top: 10px;
}

.nav-secondary .genesis-nav-menu {
    line-height: 1.5;
}

.nav-secondary .menu-item {
    display: inline-block;
}

.nav-secondary a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}