/* ==========================================================================
   Footer widgets
   ========================================================================== */

.footer-widgets {
    border-top: 1px solid #eee;
    background-color: #fff;
    clear: both;
    padding: 60px 0;
    text-align: center;

    @include mobile {
        text-align: left;
        padding: 30px 0;
    }


    >.wrap {
        display: flex;

        @include tablet {
            flex-flow: row wrap;
        }


        @include mobile {
            flex-flow: column;
        }
    }

    .widget:last-child {
        margin-bottom: 0;
    }
}

.footer-widgets .wrap {
    margin-left: auto;
    margin-right: auto;
}

.footer-widget-area {
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
    margin-bottom: 0;
}

/* ==========================================================================
   Prefooter
   ========================================================================== */

.above-footer {
    background-color: $light;
    text-align: center;
    padding: 50px 0;

    @include mobile {
        text-align: left;
        padding: 30px;
    }

    h3.widgettitle {
        @extend h2;
    }

    .wrap {
        max-width: 700px;
        margin: 0 auto;
    }

    :last-child {
        margin-bottom: 0;
    }

}

/* ==========================================================================
   Site footer
   ========================================================================== */

.site-footer {
    background-color: #fff;
    padding: 30px;
    text-align: center;

    .wrap {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* ==========================================================================
   Footer nav
   ========================================================================== */

.nav-secondary {
    margin-top: 10px;
}

.nav-secondary .genesis-nav-menu {
    line-height: 1.5;
}

.nav-secondary .menu-item {
    display: inline-block;
}

.nav-secondary a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}