/* ==========================================================================
   Colors
   ========================================================================== */

$white: #ffffff;
$light: #f5f5f5;
$default: #666;
$dark: #333;
$highlight: red;

/* ==========================================================================
   Color loop
   ========================================================================== */

$colors: ("white": $white, "light": $light, "default": $default, "dark": $dark);

/*
   Connect up the colors
   ========================================================================== */

@each $name,
$color in $colors {

    .has-#{$name}-color,
    .has-color-#{$name},
    .#{$name} {
        color: $color;
    }

    .has-#{$name}-background-color,
    .background-#{$name},
    .#{$name}-background {
        background-color: $color;
    }
}


/* ==========================================================================
   Vars
   ========================================================================== */

$headerheightdesktop: 105px;
$headerheighttablet: 77px;
$headerheightmobile: 77px;

$defaultcontentwidth: 1200px;

$adminbarheightdesktop: 32px;
$adminbarheightmobile: 46px;

/* ==========================================================================
   Queries
   ========================================================================== */

$thin: 600px;
$medium: 960px;
$wide: 1200px;

@mixin mobile {
    @media (max-width: #{$thin}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$thin}) and (max-width: #{$medium}) {
        @content;
    }
}

@mixin notdesktop {
    @media (max-width: #{$medium}) {
        @content;
    }
}

@mixin notmobile {
    @media (min-width: #{$thin}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin desktop-wide {
    @media (min-width: #{$wide}) {
        @content;
    }
}