/* ==========================================================================
   Colors
   ========================================================================== */

$white: #ffffff;
$light: #eeeae5;
$default: #666;
$dark: #333;
$blue: #4EA1CF;
$tan: #DAD2C6;
$navy: #023057;

/* ==========================================================================
   Color loop
   ========================================================================== */

$colors: ("white": $white, "light": $light, "default": $default, "dark": $dark, "blue": $blue, "tan": $tan, "navy": $navy);

@each $name, $color in $colors {
    .has-#{$name}-color,
    .has-color-#{$name},
    .#{$name} {
        color: $color;
    }

    .has-#{$name}-background-color,
    .background-#{$name},
    .#{$name}-background {
        background-color: $color;
    }
}

/* ==========================================================================
   Vars
   ========================================================================== */

$headerheightdesktop: 95px;
$headerheighttablet: 42px;
$headerheightmobile: 42px;

/* ==========================================================================
   Queries
   ========================================================================== */

$thin: 600px;
$medium: 960px;
$wide: 1200px;

@mixin mobile {
    @media (max-width: #{$thin}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$thin}) and (max-width: #{$medium}) {
        @content;
    }
}

@mixin notdesktop {
    @media (max-width: #{$medium}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin desktop-wide {
    @media (min-width: #{$wide}) {
        @content;
    }
}
