/* ==========================================================================
   Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 20px;

    br {
        @include notdesktop {
            display: none;
        }
    }
}

h1 {
    font-size: 40px;

    @include tablet {
        font-size: 32px;
    }


    @include mobile {
        font-size: 24px;
    }
}

.editor-post-title__block .editor-post-title__input {
    @extend h1;
}



h2 {
    font-size: 35px;

    @include tablet {
        font-size: 25px;
    }


    @include mobile {
        font-size: 20px;
    }
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

/* ==========================================================================
   Kicker headings
   ========================================================================== */

.gutenberg-section {
    .content-wrap {

        >h3:first-child,
        >h4:first-child {
            margin-bottom: 0;
        }
    }
}

/* ==========================================================================
   Headings used in the context of entry content
   ========================================================================== */

.entry-content {

    h3,
    h4 {
        font-weight: 600;
    }

    >h2,
    >h3,
    >h4 {
        margin-top: 50px;

        &:first-child {
            margin-top: 0;
        }
    }
}


/* ==========================================================================
   Titles
   ========================================================================== */

.archive-description .entry-title,
.archive-title,
.author-box-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

h2.entry-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.entry-title a,
.sidebar .widget-title a {
    color: #333;
    text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
    color: #0073e5;
}

.widget-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}