/* ==========================================================================
   Preheader
   ========================================================================== */

.preheader {
    background-color: $dark;
    padding: 0 20px;

    @include tablet {
        display: none;
    }


    @include mobile {
        display: none;
    }


    > .wrap {
        display: flex;
        align-items: center;

        .widget {
            margin: 0;
            color: rgba(white, 0.7);

            &:first-child {
                margin-right: auto;
            }

            &:last-child {
                margin-left: auto;
            }

            p {
                margin-bottom: 0;
                font-size: 15px;
            }

            a {
                text-decoration: none;
                color: white;
            }

            .widget-title {
                margin-bottom: 5px;
            }
        }

        ul.menu {
            margin: 0;
            padding: 0;

            > li {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;

                a {
                    padding: 10px 15px;
                    text-decoration: none;
                    display: block;
                    font-size: 15px;
                    color: white;
                }
            }
        }
    }
}

/* ==========================================================================
   Wrappers
   ========================================================================== */

.site-header {
    background-color: lighten($tan, 10%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 0;
    transition: .3s all ease;

    > .wrap {
        padding: 0 20px;
        max-width: 1200px;
        margin: 0 auto;

        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        @include notdesktop {
            display: block;
        }


        .title-area,
        .nav-primary,
        .menu-toggle {
            @include desktop {
                flex: 0 1 auto;
            }
        }

        .title-area {
            @include desktop {
                margin-right: auto;
                flex: 0 1 auto;
                transition: 0s all;
            }


            @include notdesktop {
                float: left;
                max-width: 170px;
            }
        }

        .nav-primary {
            @include desktop {
                margin-left: auto;
                flex: 0 1 auto;
            }


            @include notdesktop {
                clear: left;
                padding-bottom: 15px;
                padding-top: 15px;
                width: 100%;
            }
        }

        .menu-toggle {
            flex: 0 1 auto;
            margin-left: auto;
            margin-right: 0;
        }
    }
}

/* ==========================================================================
   Title area
   ========================================================================== */

.site-header {
    .title-area {
        padding-bottom: 25px;
        padding-top: 25px;
        transition: .3s all ease;

        img.custom-logo {
            transition: .3s all ease;
            width: 100%;
            margin: 0 auto;
            display: block;

            @include notdesktop {
                max-height: 66px;
                margin-left: 0;
                text-align: left;
            }
        }
    }
}

.wp-custom-logo .title-area {
    // max-width: 350px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;

    @include notdesktop {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 200px;

        img {
            margin-left: 0;

            // max-width: 130px;
       
        }
    }
}

.wp-custom-logo .title-area img {
    width: auto;
}

.site-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
    color: #333;
    text-decoration: none;
}

.site-description,
.wp-custom-logo .site-title {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.nav-primary {
    clear: left;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}

/* ==========================================================================
   Scrolled
   ========================================================================== */

.site-header.header-scrolled {
    background: $tan;
    box-shadow: 0 0 20px 0 rgba(black, 0.15);

    .preheader {
        display: none;
    }

    .title-area {
        padding-top: 10px;
        padding-bottom: 10px;

        // img {
        //     width: 175px;
        // }
   
    }
}

.mobile-header-wrapper {
    background-color: $tan;

    a.logo {
        text-decoration: none;
        color: $navy;
    }
}

.open-menu span {
    background-color: $navy;
}

.slide-menu {
    background-color: $navy;

    .mobile-nav-area ul.menu > li > a {
        color: white;
    }
}
