/* Media Queries
---------------------------------------------------------------------------- */

@media only screen and (min-width: 960px) {
    /* Site Header
    --------------------------------------------- */

    .site-header {
        position: fixed;
        width: 100%;
        z-index: 9999;
    }
}

@media only screen and (min-width: 960px) {
    /* Genesis Menu
    --------------------------------------------- */

    .genesis-nav-menu .menu-item {
        display: inline-block;
    }

    .genesis-nav-menu .menu-item:focus,
    .genesis-nav-menu .menu-item:hover {
        position: relative;
    }

    .genesis-nav-menu > .menu-bold > a {
        font-weight: 700;
    }

    .genesis-nav-menu > .menu-highlight > a {
        background-color: #333;
        border-radius: 3px;
        color: #fff;
        font-weight: 600;
        margin-left: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .genesis-nav-menu > .menu-highlight > a:focus,
    .genesis-nav-menu > .menu-highlight > a:hover {
        background-color: #0073e5;
    }

    .genesis-nav-menu .sub-menu,
    .genesis-nav-menu .sub-menu a {
        width: 180px;
    }

    .genesis-nav-menu .sub-menu {
        border-top: 1px solid #eee;
        opacity: 0;
        padding-left: 0;
        position: absolute;
        transition: opacity 0.4s ease-in-out;
    }

    .genesis-nav-menu .sub-menu a {
        border: 1px solid #eee;
        border-top: 0;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .genesis-nav-menu .sub-menu .sub-menu {
        margin: -46px 0 0 179px;
    }
}

@media only screen and (min-width: 960px) {
    /* Responsive Menu
    --------------------------------------------- */

    .genesis-responsive-menu {
        display: block;
        padding-top: 15px;
    }

    .menu-toggle,
    .sub-menu-toggle {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 960px) {
    /* Header Menu
    --------------------------------------------- */

    .nav-primary {
        clear: none;
        float: right;
        width: auto;
    }

    .nav-primary .genesis-nav-menu a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1130px) {
    .nav-primary .genesis-nav-menu a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 960px) {
    /* Site-Inner
    --------------------------------------------- */

    .site-inner {
        max-width: 1140px;
    }
}

@media only screen and (min-width: 960px) {
    /* Content
    --------------------------------------------- */

    .content {
        float: left;
        width: 65%;
    }

    .sidebar-content .content {
        float: right;
    }

    .full-width-content .content,
    .landing-page .content {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 960px) {
    /* Sidebar
    --------------------------------------------- */

    .sidebar {
        float: right;
        width: 30%;
    }

    .sidebar-content .sidebar {
        float: left;
    }
}

@media only screen and (min-width: 960px) {
    /* Author Box
    --------------------------------------------- */

    .author-box {
        background-color: #f5f5f5;
        padding: 30px;
    }
}

@media only screen and (min-width: 960px) {
    /* After Entry
    --------------------------------------------- */

    .after-entry {
        padding: 40px 60px;
    }

    .after-entry .enews {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (min-width: 960px) {
    /* Column Classes
    --------------------------------------------- */

    .five-sixths,
    .four-sixths,
    .one-fourth,
    .one-half,
    .one-sixth,
    .one-third,
    .three-fourths,
    .three-sixths,
    .two-fourths,
    .two-sixths,
    .two-thirds {
        float: left;
        margin-left: 2.564102564102564%;
    }

    .one-half,
    .three-sixths,
    .two-fourths {
        width: 48.717948717948715%;
    }

    .one-third,
    .two-sixths {
        width: 31.623931623931625%;
    }

    .four-sixths,
    .two-thirds {
        width: 65.81196581196582%;
    }

    .one-fourth {
        width: 23.076923076923077%;
    }

    .three-fourths {
        width: 74.35897435897436%;
    }

    .one-sixth {
        width: 14.52991452991453%;
    }

    .five-sixths {
        width: 82.90598290598291%;
    }

    .first {
        clear: both;
        margin-left: 0;
    }
}

@media only screen and (min-width: 960px) {
    /* Entry Misc.
    --------------------------------------------- */

    .after-entry,
    .author-box,
    .comment-respond,
    .entry,
    .entry-comments,
    .entry-pings {
        margin-bottom: 60px;
    }
}

@media only screen and (min-width: 960px) {
    /* Footer Widgets
    --------------------------------------------- */

    .footer-widgets .wrap {
        max-width: 1140px;
    }
}

@include mobile {
    .hide-on-mobile {
        display: none !important;
    }
}
