/* ==========================================================================
   Sidebars
   ========================================================================== */

.sidebar {
    font-size: 16px;
    line-height: 1.5;

    ul {
        padding: 0;

        li {
            list-style: none;
        }
    }
}

.widget {
    margin-bottom: 40px;
}

.widget.featured-content {
    .entry {
        padding: 15px 20px;

        .entry-title {
            font-size: 20px;
            padding: 0;
            margin: 0 0 5px;
        }
    }
}