a {
    color: #0073e5;
    text-decoration: underline;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
    color: #333;
    text-decoration: none;
}

p {
    margin: 0 0 30px;
    padding: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

hr {
    border: none;
    border-collapse: collapse;
    border-top: 1px solid #eee;
    clear: both;
    margin: 30px 0;
}

b,
strong {
    font-weight: 700;
}

blockquote,
cite,
em,
i {
    font-style: italic;
}

mark {
    background: #ddd;
    color: #333;
}

blockquote {
    margin: 30px;
}
