/* ==========================================================================
   Get options
   ========================================================================== */
/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Color loop
   ========================================================================== */
.has-white-color,
.has-color-white,
.white {
  color: #ffffff; }

.has-white-background-color,
.background-white,
.white-background {
  background-color: #ffffff; }

.has-light-color,
.has-color-light,
.light {
  color: #f5f5f5; }

.has-light-background-color,
.background-light,
.light-background {
  background-color: #f5f5f5; }

.has-default-color,
.has-color-default,
.default {
  color: #666; }

.has-default-background-color,
.background-default,
.default-background {
  background-color: #666; }

.has-dark-color,
.has-color-dark,
.dark {
  color: #333; }

.has-dark-background-color,
.background-dark,
.dark-background {
  background-color: #333; }

/* ==========================================================================
   Vars
   ========================================================================== */
/* ==========================================================================
   Queries
   ========================================================================== */
/* ==========================================================================
   Includes
   ========================================================================== */
/* ==========================================================================
   Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 20px; }

h1 {
  font-size: 40px; }
  @media (min-width: 600px) and (max-width: 960px) {
    h1 {
      font-size: 32px; } }
  @media (max-width: 600px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-size: 35px; }
  @media (min-width: 600px) and (max-width: 960px) {
    h2 {
      font-size: 25px; } }
  @media (max-width: 600px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

/* ==========================================================================
   Headings used in the context of entry content
   ========================================================================== */
.entry-content h3,
.entry-content h4 {
  font-weight: 600; }

.entry-content > h2,
.entry-content > h3,
.entry-content > h4 {
  margin-top: 50px; }
  .entry-content > h2:first-child,
  .entry-content > h3:first-child,
  .entry-content > h4:first-child {
    margin-top: 0; }

/* ==========================================================================
   Titles
   ========================================================================== */
.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px; }

h2.entry-title {
  font-size: 30px;
  margin-bottom: 10px; }

.entry-title a,
.sidebar .widget-title a {
  color: #333;
  text-decoration: none; }

.entry-title a:focus,
.entry-title a:hover {
  color: #0073e5; }

.widget-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px; }

/* ==========================================================================
   Buttons
   ========================================================================== */
.site-container .button, .site-container .wp-block-file .wp-block-file__button, .wp-block-file .site-container .wp-block-file__button,
.acf-block-preview .button,
.acf-block-preview .wp-block-file .wp-block-file__button,
.wp-block-file .acf-block-preview .wp-block-file__button,
.lity .button,
.lity .wp-block-file .wp-block-file__button,
.wp-block-file .lity .wp-block-file__button {
  background-color: #1a0dab;
  border: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px !important;
  font-weight: 600;
  padding: 15px 30px;
  display: inline-block;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  height: auto;
  border-radius: 3px; }
  .site-container .button:focus, .site-container .wp-block-file .wp-block-file__button:focus, .wp-block-file .site-container .wp-block-file__button:focus, .site-container .button:hover, .site-container .wp-block-file .wp-block-file__button:hover, .wp-block-file .site-container .wp-block-file__button:hover,
  .acf-block-preview .button:focus,
  .acf-block-preview .wp-block-file .wp-block-file__button:focus,
  .wp-block-file .acf-block-preview .wp-block-file__button:focus,
  .acf-block-preview .button:hover,
  .acf-block-preview .wp-block-file .wp-block-file__button:hover,
  .wp-block-file .acf-block-preview .wp-block-file__button:hover,
  .lity .button:focus,
  .lity .wp-block-file .wp-block-file__button:focus,
  .wp-block-file .lity .wp-block-file__button:focus,
  .lity .button:hover,
  .lity .wp-block-file .wp-block-file__button:hover,
  .wp-block-file .lity .wp-block-file__button:hover {
    background-color: #2111da;
    color: #fff; }

.site-container .button.button-small, .site-container .wp-block-file .button-small.wp-block-file__button, .wp-block-file .site-container .button-small.wp-block-file__button,
.acf-block-preview .button.button-small,
.acf-block-preview .wp-block-file .button-small.wp-block-file__button,
.wp-block-file .acf-block-preview .button-small.wp-block-file__button,
.lity .button.button-small,
.lity .wp-block-file .button-small.wp-block-file__button,
.wp-block-file .lity .button-small.wp-block-file__button {
  padding: 5px 20px;
  height: auto; }

.ab-button {
  background-color: #1a0dab;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 20px; }

a {
  color: #1a0dab;
  text-decoration: underline;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }

a:focus,
a:hover {
  color: #1e0fc3; }

p {
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px; }
  @media (max-width: 600px) {
    p {
      font-size: 16px; } }

li {
  font-size: 18px; }
  @media (max-width: 600px) {
    li {
      font-size: 16px; } }

ol,
ul {
  margin: 0;
  padding: 0; }

hr {
  border: none;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  clear: both;
  margin: 30px 0; }

b,
strong {
  font-weight: 700; }

blockquote,
cite,
em,
i {
  font-style: italic; }

mark {
  background: #ddd;
  color: #333; }

blockquote {
  margin: 30px; }

/* ==========================================================================
   Section 0 treatment
   ========================================================================== */
@media (min-width: 960px) {
  .entry-content > .gutenberg-section:first-child {
    padding-top: 10vh;
    padding-bottom: 10vh; } }

@media (min-width: 1200px) {
  .entry-content > .gutenberg-section:first-child {
    padding-top: 15vh;
    padding-bottom: 15vh; } }

/* ==========================================================================
   Kicker headings
   ========================================================================== */
.gutenberg-section .content-wrap > h3:first-child,
.gutenberg-section .content-wrap > h4:first-child {
  margin-bottom: 0; }

/* ==========================================================================
   Automatic heading removal
   ========================================================================== */
body[class*="first-block-acf"] .content > .page > .entry-header,
body[class*="first-block-atomic"] .content > .page > .entry-header {
  display: none; }

body[class*="first-block-acf"] .site-inner,
body[class*="first-block-atomic"] .site-inner {
  margin-top: 0 !important; }

@media (min-width: 960px) {
  body[class*="first-block-acf"]:not(.landing-page) .entry-content > .gutenberg-section:first-child .content-wrap,
  body[class*="first-block-atomic"]:not(.landing-page) .entry-content > .gutenberg-section:first-child .content-wrap {
    margin-top: 77px; } }
  @media (min-width: 960px) and (min-width: 600px) and (max-width: 960px) {
    body[class*="first-block-acf"]:not(.landing-page) .entry-content > .gutenberg-section:first-child .content-wrap,
    body[class*="first-block-atomic"]:not(.landing-page) .entry-content > .gutenberg-section:first-child .content-wrap {
      margin-top: 77px; } }
  @media (min-width: 960px) and (max-width: 600px) {
    body[class*="first-block-acf"]:not(.landing-page) .entry-content > .gutenberg-section:first-child .content-wrap,
    body[class*="first-block-atomic"]:not(.landing-page) .entry-content > .gutenberg-section:first-child .content-wrap {
      margin-top: 77px; } }

@media (min-width: 960px) {
  body[class*="first-block-acf"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-container-inside,
  body[class*="first-block-acf"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-layout-column-wrap,
  body[class*="first-block-atomic"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-container-inside,
  body[class*="first-block-atomic"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-layout-column-wrap {
    margin-top: 77px; } }
  @media (min-width: 960px) and (min-width: 600px) and (max-width: 960px) {
    body[class*="first-block-acf"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-container-inside,
    body[class*="first-block-acf"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-layout-column-wrap,
    body[class*="first-block-atomic"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-container-inside,
    body[class*="first-block-atomic"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-layout-column-wrap {
      margin-top: 77px; } }
  @media (min-width: 960px) and (max-width: 600px) {
    body[class*="first-block-acf"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-container-inside,
    body[class*="first-block-acf"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-layout-column-wrap,
    body[class*="first-block-atomic"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-container-inside,
    body[class*="first-block-atomic"]:not(.landing-page) .entry-content > div[class*="wp-block-atomic-blocks"]:first-child > .ab-layout-column-wrap {
      margin-top: 77px; } }

/* ==========================================================================
   Table of contents block
   ========================================================================== */
.wp-block-advanced-gutenberg-blocks-summary {
  margin-bottom: 20px; }
  .wp-block-advanced-gutenberg-blocks-summary > ul {
    padding-top: 5px;
    padding-left: 0;
    margin-bottom: 0; }
    .wp-block-advanced-gutenberg-blocks-summary > ul > li > a {
      display: block;
      margin-bottom: 5px; }
    .wp-block-advanced-gutenberg-blocks-summary > ul > li > ul {
      line-height: 1em;
      padding-left: 0;
      margin-bottom: 0;
      margin-bottom: 5px; }

/* ==========================================================================
   Defaults: mobile padding and alignment
   ========================================================================== */
.entry-content > div[class*="wp-block-atomic-blocks"] :not(div):not(.entry):last-child,
.entry-content > .wp-block-atomic-blocks-ab-columns :not(div):not(.entry):last-child {
  margin-bottom: 0; }

.entry-content > div[class*="wp-block-atomic-blocks"] h1:first-child,
.entry-content > div[class*="wp-block-atomic-blocks"] h2:first-child,
.entry-content > div[class*="wp-block-atomic-blocks"] h3:first-child,
.entry-content > div[class*="wp-block-atomic-blocks"] h4:first-child,
.entry-content > div[class*="wp-block-atomic-blocks"] h5:first-child,
.entry-content > div[class*="wp-block-atomic-blocks"] h6:first-child,
.entry-content > .wp-block-atomic-blocks-ab-columns h1:first-child,
.entry-content > .wp-block-atomic-blocks-ab-columns h2:first-child,
.entry-content > .wp-block-atomic-blocks-ab-columns h3:first-child,
.entry-content > .wp-block-atomic-blocks-ab-columns h4:first-child,
.entry-content > .wp-block-atomic-blocks-ab-columns h5:first-child,
.entry-content > .wp-block-atomic-blocks-ab-columns h6:first-child {
  margin-top: 0;
  padding-top: 0; }

@media (min-width: 600px) and (max-width: 960px) {
  .entry-content > div[class*="wp-block-atomic-blocks"].ab-block-container, .entry-content > div[class*="wp-block-atomic-blocks"].wp-block-atomic-blocks-ab-columns,
  .entry-content > .wp-block-atomic-blocks-ab-columns.ab-block-container,
  .entry-content > .wp-block-atomic-blocks-ab-columns.wp-block-atomic-blocks-ab-columns {
    padding: 60px !important; } }

@media (max-width: 600px) {
  .entry-content > div[class*="wp-block-atomic-blocks"].ab-block-container h1,
  .entry-content > div[class*="wp-block-atomic-blocks"].ab-block-container h2,
  .entry-content > div[class*="wp-block-atomic-blocks"].ab-block-container h3,
  .entry-content > div[class*="wp-block-atomic-blocks"].ab-block-container h4,
  .entry-content > div[class*="wp-block-atomic-blocks"].ab-block-container h5,
  .entry-content > div[class*="wp-block-atomic-blocks"].ab-block-container h6,
  .entry-content > div[class*="wp-block-atomic-blocks"].ab-block-container p,
  .entry-content > div[class*="wp-block-atomic-blocks"].ab-block-container div, .entry-content > div[class*="wp-block-atomic-blocks"].wp-block-atomic-blocks-ab-columns h1,
  .entry-content > div[class*="wp-block-atomic-blocks"].wp-block-atomic-blocks-ab-columns h2,
  .entry-content > div[class*="wp-block-atomic-blocks"].wp-block-atomic-blocks-ab-columns h3,
  .entry-content > div[class*="wp-block-atomic-blocks"].wp-block-atomic-blocks-ab-columns h4,
  .entry-content > div[class*="wp-block-atomic-blocks"].wp-block-atomic-blocks-ab-columns h5,
  .entry-content > div[class*="wp-block-atomic-blocks"].wp-block-atomic-blocks-ab-columns h6,
  .entry-content > div[class*="wp-block-atomic-blocks"].wp-block-atomic-blocks-ab-columns p,
  .entry-content > div[class*="wp-block-atomic-blocks"].wp-block-atomic-blocks-ab-columns div,
  .entry-content > .wp-block-atomic-blocks-ab-columns.ab-block-container h1,
  .entry-content > .wp-block-atomic-blocks-ab-columns.ab-block-container h2,
  .entry-content > .wp-block-atomic-blocks-ab-columns.ab-block-container h3,
  .entry-content > .wp-block-atomic-blocks-ab-columns.ab-block-container h4,
  .entry-content > .wp-block-atomic-blocks-ab-columns.ab-block-container h5,
  .entry-content > .wp-block-atomic-blocks-ab-columns.ab-block-container h6,
  .entry-content > .wp-block-atomic-blocks-ab-columns.ab-block-container p,
  .entry-content > .wp-block-atomic-blocks-ab-columns.ab-block-container div,
  .entry-content > .wp-block-atomic-blocks-ab-columns.wp-block-atomic-blocks-ab-columns h1,
  .entry-content > .wp-block-atomic-blocks-ab-columns.wp-block-atomic-blocks-ab-columns h2,
  .entry-content > .wp-block-atomic-blocks-ab-columns.wp-block-atomic-blocks-ab-columns h3,
  .entry-content > .wp-block-atomic-blocks-ab-columns.wp-block-atomic-blocks-ab-columns h4,
  .entry-content > .wp-block-atomic-blocks-ab-columns.wp-block-atomic-blocks-ab-columns h5,
  .entry-content > .wp-block-atomic-blocks-ab-columns.wp-block-atomic-blocks-ab-columns h6,
  .entry-content > .wp-block-atomic-blocks-ab-columns.wp-block-atomic-blocks-ab-columns p,
  .entry-content > .wp-block-atomic-blocks-ab-columns.wp-block-atomic-blocks-ab-columns div {
    text-align: left !important; } }

/* ==========================================================================
   Spacing for columns as we collapse
   ========================================================================== */
@media (min-width: 600px) and (max-width: 960px) {
  .ab-block-layout-column {
    margin-bottom: 50px; }
    .ab-block-layout-column:last-child {
      margin-bottom: 0; } }

@media (max-width: 600px) {
  .ab-block-layout-column {
    margin-bottom: 50px; }
    .ab-block-layout-column:last-child {
      margin-bottom: 0; } }

/* ==========================================================================
   HR on mobile 
   ========================================================================== */
@media (max-width: 600px) {
  .ab-block-spacer hr {
    max-height: 30px; } }

/* ==========================================================================
   Pull left and right
   ========================================================================== */
.wp-block-atomic-blocks-ab-container.left > .ab-container-inside > .ab-container-content {
  margin-left: 0; }

.wp-block-atomic-blocks-ab-container.right > .ab-container-inside > .ab-container-content {
  margin-right: 0; }

/* ==========================================================================
   Pages shouldn't have space at the bottom by default
   ========================================================================== */
body.page .content > .page {
  margin-bottom: 0; }

.wp-block-file {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 15px; }
  .wp-block-file a {
    order: 1;
    text-decoration: none; }
  .wp-block-file a:not(.wp-block-file__button) {
    color: #666;
    pointer-events: none; }
  .wp-block-file .wp-block-file__button {
    margin: 0 15px 0 0;
    order: 0; }

/* ==========================================================================
   Mobile padding
   ========================================================================== */
@media (max-width: 600px) {
  .wp-block-media-text .wp-block-media-text__content,
  .wp-block-media-text .wp-block-media-content__text {
    padding: 0; } }

@media (max-width: 600px) {
  .wp-block-media-text > figure > img {
    width: auto; } }
