/* ==========================================================================
   Get options
   ========================================================================== */

@import "global";

/* ==========================================================================
   Includes
   ========================================================================== */

//* Defaults
@import 'editor-defaults';
@import "headings";
@import "buttons";
@import "typography";

//* Gutenberg
@import "gutenberg/*";