/* ==========================================================================
   Get options
   ========================================================================== */

@import "global";

/* ==========================================================================
   Includes
   ========================================================================== */

//* Defaults
@import "headings";
@import "buttons";
@import "plugins/gutenberg-sections";
@import "plugins/advanced-gutenberg-blocks";
@import "plugins/atomic-blocks";

//* Gutenberg
@import "gutenberg/media-and-image";
