/* ==========================================================================
   Get options
   ========================================================================== */
/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Color loop
   ========================================================================== */
/*
   Connect up the colors
   ========================================================================== */
.has-white-color,
.has-color-white,
.white {
  color: #ffffff; }

.has-white-background-color,
.background-white,
.white-background {
  background-color: #ffffff; }

.has-light-color,
.has-color-light,
.light {
  color: #f5f5f5; }

.has-light-background-color,
.background-light,
.light-background {
  background-color: #f5f5f5; }

.has-default-color,
.has-color-default,
.default {
  color: #666; }

.has-default-background-color,
.background-default,
.default-background {
  background-color: #666; }

.has-dark-color,
.has-color-dark,
.dark {
  color: #333; }

.has-dark-background-color,
.background-dark,
.dark-background {
  background-color: #333; }

/* ==========================================================================
   Vars
   ========================================================================== */
/* ==========================================================================
   Queries
   ========================================================================== */
/* ==========================================================================
   Includes
   ========================================================================== */
/* ==========================================================================
   Block width
   ========================================================================== */
/* Regular content width.
/* Add 27px to match paragraph width on front-end and editor.
---------------------------------------------------------------------------- */
.wp-block {
  max-width: calc(806px); }

/* ==========================================================================
   Alignment
   ========================================================================== */
/* Width of "wide" blocks
/* 1062px + 30px so wide images match width in front-end and editor.
/* 1062px = default column width of 702px + .alignwide negative margin of 360px
---------------------------------------------------------------------------- */
.wp-block[data-align="wide"] {
  max-width: calc(1200px + 30px); }

.wp-block[data-align="full"] {
  max-width: none; }

/* ==========================================================================
   Captions
   ========================================================================== */
.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
  color: #666;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 10px; }

/* ==========================================================================
   Headings
   ========================================================================== */
h1, .editor-post-title__block .editor-post-title__input,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 20px; }
  @media (max-width: 960px) {
    h1 br, .editor-post-title__block .editor-post-title__input br,
    h2 br,
    h3 br,
    h4 br,
    h5 br,
    h6 br {
      display: none; } }

h1, .editor-post-title__block .editor-post-title__input {
  font-size: 40px; }
  @media (min-width: 600px) and (max-width: 960px) {
    h1, .editor-post-title__block .editor-post-title__input {
      font-size: 32px; } }
  @media (max-width: 600px) {
    h1, .editor-post-title__block .editor-post-title__input {
      font-size: 24px; } }

h2 {
  font-size: 35px; }
  @media (min-width: 600px) and (max-width: 960px) {
    h2 {
      font-size: 25px; } }
  @media (max-width: 600px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

/* ==========================================================================
   Kicker headings
   ========================================================================== */
.gutenberg-section .content-wrap > h3:first-child,
.gutenberg-section .content-wrap > h4:first-child {
  margin-bottom: 0; }

/* ==========================================================================
   Headings used in the context of entry content
   ========================================================================== */
.entry-content h3,
.entry-content h4 {
  font-weight: 600; }

.entry-content > h2,
.entry-content > h3,
.entry-content > h4 {
  margin-top: 50px; }
  .entry-content > h2:first-child,
  .entry-content > h3:first-child,
  .entry-content > h4:first-child {
    margin-top: 0; }

/* ==========================================================================
   Titles
   ========================================================================== */
.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px; }

h2.entry-title {
  font-size: 30px;
  margin-bottom: 10px; }

.entry-title a,
.sidebar .widget-title a {
  color: #333;
  text-decoration: none; }

.entry-title a:focus,
.entry-title a:hover {
  color: #0073e5; }

.widget-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px; }

/* Buttons
---------------------------------------------------------------------------- */
.ab-block-cta .ab-button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600; }

.wp-block-button .wp-block-button__link {
  background-color: #333;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: auto; }

.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover {
  box-shadow: inset 0 0 200px rgba(230, 230, 230, 0.15); }

/* Button Variations */
.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0; }

.wp-block-button.is-style-outline .wp-block-button__link {
  background-color: transparent;
  border: 2px solid currentColor;
  border-radius: 0;
  padding: 13px 28px; }

/* ==========================================================================
   Buttons
   ========================================================================== */
.button, .site-container .button,
.acf-block-preview .button,
.lity .button, .wp-block-file .wp-block-file__button {
  background-color: red;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px !important;
  font-weight: 600;
  padding: 15px 30px;
  display: inline-block;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  height: auto;
  border-radius: 3px;
  margin-right: 5px;
  border: 2px solid red;
  transitioN: .3s all ease; }
  .button:focus, .wp-block-file .wp-block-file__button:focus, .button:hover, .wp-block-file .wp-block-file__button:hover {
    color: #fff;
    background-color: #ff3333;
    border-color: #ff3333; }
  .button.button-small, .wp-block-file .button-small.wp-block-file__button {
    padding: 5px 20px;
    height: auto; }
  .button.button-outline, .wp-block-file .button-outline.wp-block-file__button {
    background-color: transparent;
    border: 2px solid white;
    color: white; }
    .button.button-outline:focus, .wp-block-file .button-outline.wp-block-file__button:focus, .button.button-outline:hover, .wp-block-file .button-outline.wp-block-file__button:hover {
      color: #fff;
      background-color: #ff3333;
      border-color: #ff3333; }

.ab-button {
  background-color: red;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 20px; }

/* ==========================================================================
   General typeography
   ========================================================================== */
li {
  font-size: 18px; }
  @media (max-width: 600px) {
    li {
      font-size: 16px; } }

ol,
ul {
  margin: 0;
  padding: 0; }

hr {
  border: none;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  clear: both;
  margin: 30px 0; }

b,
strong {
  font-weight: 700; }

mark {
  background: #ddd;
  color: #333; }

/* ==========================================================================
   Text alignment 
   ========================================================================== */
@media (max-width: 600px) {
  .has-text-align-center,
  .has-text-align-right,
  .alignright,
  .aligncenter {
    float: none;
    text-align: left; } }

/* ==========================================================================
   Font sizes
   ========================================================================== */
p {
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px;
  line-height: 1.6em; }
  @media (max-width: 600px) {
    p {
      font-size: 16px; } }

p.has-small-font-size {
  font-size: 13px; }

p.has-regular-font-size {
  font-size: 18px; }
  @media (max-width: 600px) {
    p.has-regular-font-size {
      font-size: 14px; } }

p.has-large-font-size {
  font-size: 20px; }
  @media (max-width: 600px) {
    p.has-large-font-size {
      font-size: 18px; } }

p.has-larger-font-size {
  font-size: 26px; }
  @media (max-width: 600px) {
    p.has-larger-font-size {
      font-size: 20px; } }

/* ==========================================================================
   Drop caps
   ========================================================================== */
p.has-drop-cap:not(:focus)::first-letter {
  margin: 0.02em 0.08em 0 -0.08em; }

p.has-larger-font-size.has-drop-cap:not(:focus)::first-letter,
p.has-small-font-size.has-drop-cap:not(:focus)::first-letter {
  margin-right: 0.01em; }

/* ==========================================================================
   Links
   ========================================================================== */
a {
  color: red;
  text-decoration: underline;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }

a:focus,
a:hover {
  color: #ff1a1a; }

p.has-text-color a,
p.has-background a {
  color: inherit; }

p.has-text-color a:focus,
p.has-background a:focus,
p.has-text-color a:hover,
p.has-background a:hover {
  color: inherit;
  text-decoration: none; }

p.has-background.light-text a {
  color: #fff;
  text-decoration: underline; }

/* ==========================================================================
   Background colors
   ========================================================================== */
.has-background {
  padding: 25px 30px;
  margin-bottom: 20px; }

.has-background :last-child {
  margin-bottom: 0; }

.has-background.box-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

@media (min-width: 960px) {
  .wp-block-atomic-blocks-ab-container.full-height {
    min-height: 100vh;
    display: flex;
    align-items: center; }
    .wp-block-atomic-blocks-ab-container.full-height .ab-container-content,
    .wp-block-atomic-blocks-ab-container.full-height .ab-container-inside {
      width: 100%; } }

@media (min-width: 960px) {
  body.admin-bar .wp-block-atomic-blocks-ab-container.full-height {
    min-height: calc(100vh - 32px); } }

/* ==========================================================================
   Spacing as we collapse
   ========================================================================== */
@media (max-width: 960px) {
  .ab-block-layout-column {
    margin-bottom: 30px; }
    > .ab-block-layout-column:last-child {
      margin-bottom: 0; } }

/* ==========================================================================
   Padding on mobile
   ========================================================================== */
@media (max-width: 600px) {
  .wp-block-atomic-blocks-ab-columns {
    padding: 30px !important; } }

/* ==========================================================================
   Better defaults when there's a background color on a column
   ========================================================================== */
.wp-block-atomic-blocks-ab-columns .ab-block-layout-column-inner {
  position: relative;
  z-index: 3; }

.wp-block-atomic-blocks-ab-columns .ab-block-layout-column-inner.has-white-background-color {
  background-color: #ffffff;
  padding: 30px;
  z-index: 2; }
  @media (min-width: 600px) {
    .wp-block-atomic-blocks-ab-columns .ab-block-layout-column-inner.has-white-background-color:before {
      content: "";
      top: -30px;
      bottom: -30px;
      left: -150px;
      right: -150px;
      position: absolute;
      background-color: #ffffff;
      z-index: -1; } }

.wp-block-atomic-blocks-ab-columns .ab-block-layout-column-inner.has-light-background-color {
  background-color: #f5f5f5;
  padding: 30px;
  z-index: 2; }
  @media (min-width: 600px) {
    .wp-block-atomic-blocks-ab-columns .ab-block-layout-column-inner.has-light-background-color:before {
      content: "";
      top: -30px;
      bottom: -30px;
      left: -150px;
      right: -150px;
      position: absolute;
      background-color: #f5f5f5;
      z-index: -1; } }

.wp-block-atomic-blocks-ab-columns .ab-block-layout-column-inner.has-default-background-color {
  background-color: #666;
  padding: 30px;
  z-index: 2; }
  @media (min-width: 600px) {
    .wp-block-atomic-blocks-ab-columns .ab-block-layout-column-inner.has-default-background-color:before {
      content: "";
      top: -30px;
      bottom: -30px;
      left: -150px;
      right: -150px;
      position: absolute;
      background-color: #666;
      z-index: -1; } }

.wp-block-atomic-blocks-ab-columns .ab-block-layout-column-inner.has-dark-background-color {
  background-color: #333;
  padding: 30px;
  z-index: 2; }
  @media (min-width: 600px) {
    .wp-block-atomic-blocks-ab-columns .ab-block-layout-column-inner.has-dark-background-color:before {
      content: "";
      top: -30px;
      bottom: -30px;
      left: -150px;
      right: -150px;
      position: absolute;
      background-color: #333;
      z-index: -1; } }

@media (min-width: 600px) {
  .wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:first-child > .has-white-background-color {
    padding-left: 60px; } }

.wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:first-child > .has-white-background-color.ab-block-layout-column-inner:before {
  left: 0; }

@media (min-width: 600px) {
  .wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:first-child > .has-light-background-color {
    padding-left: 60px; } }

.wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:first-child > .has-light-background-color.ab-block-layout-column-inner:before {
  left: 0; }

@media (min-width: 600px) {
  .wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:first-child > .has-default-background-color {
    padding-left: 60px; } }

.wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:first-child > .has-default-background-color.ab-block-layout-column-inner:before {
  left: 0; }

@media (min-width: 600px) {
  .wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:first-child > .has-dark-background-color {
    padding-left: 60px; } }

.wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:first-child > .has-dark-background-color.ab-block-layout-column-inner:before {
  left: 0; }

@media (min-width: 600px) {
  .wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:last-child > .has-white-background-color {
    padding-right: 60px; } }

.wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:last-child > .has-white-background-color.ab-block-layout-column-inner:before {
  right: 0; }

@media (min-width: 600px) {
  .wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:last-child > .has-light-background-color {
    padding-right: 60px; } }

.wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:last-child > .has-light-background-color.ab-block-layout-column-inner:before {
  right: 0; }

@media (min-width: 600px) {
  .wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:last-child > .has-default-background-color {
    padding-right: 60px; } }

.wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:last-child > .has-default-background-color.ab-block-layout-column-inner:before {
  right: 0; }

@media (min-width: 600px) {
  .wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:last-child > .has-dark-background-color {
    padding-right: 60px; } }

.wp-block-atomic-blocks-ab-columns .wp-block-atomic-blocks-ab-column:last-child > .has-dark-background-color.ab-block-layout-column-inner:before {
  right: 0; }

/* ==========================================================================
   Don't allow overflow
   ========================================================================== */
.wp-block-atomic-blocks-ab-container {
  overflow: hidden; }

/* ==========================================================================
   Padding on mobile
   ========================================================================== */
@media (max-width: 600px) {
  .wp-block-atomic-blocks-ab-container {
    padding: 30px !important; } }

/* ==========================================================================
   Pull left and right
   ========================================================================== */
.wp-block-atomic-blocks-ab-container.left > .ab-container-inside > .ab-container-content {
  margin-left: 0; }

.wp-block-atomic-blocks-ab-container.right > .ab-container-inside > .ab-container-content {
  margin-right: 0; }

/* ==========================================================================
   HR on mobile 
   ========================================================================== */
@media (max-width: 960px) {
  .ab-block-spacer hr {
    max-height: 30px;
    margin-bottom: 0; } }

/* ==========================================================================
   Table of contents block
   ========================================================================== */
.wp-block-advanced-gutenberg-blocks-summary {
  margin-bottom: 20px; }
  .wp-block-advanced-gutenberg-blocks-summary > ul {
    padding-top: 5px;
    padding-left: 0;
    margin-bottom: 0; }
    .wp-block-advanced-gutenberg-blocks-summary > ul > li > a {
      display: block;
      margin-bottom: 5px; }
    .wp-block-advanced-gutenberg-blocks-summary > ul > li > ul {
      line-height: 1em;
      padding-left: 0;
      margin-bottom: 5px; }

.wp-block-categories,
.wp-block-categories ol,
.wp-block-categories ul {
  margin-left: 0;
  padding-left: 0; }

.wp-block-categories li {
  list-style-type: none; }

.wp-block-categories.aligncenter {
  text-align: center; }

.wp-block-categories-list.alignfull {
  padding: 0 30px; }

.wp-block-columns .wp-block-column :last-child {
  margin-bottom: 0; }

@media (max-width: 600px) {
  .wp-block-columns .wp-block-column {
    margin-bottom: 30px; } }

.wp-block-cover.alignfull {
  width: 100vw; }

@media (max-width: 960px) {
  .wp-block-cover {
    min-height: auto; } }

@media (max-width: 960px) {
  .wp-block-cover .wp-block-cover__inner-container {
    width: 100%;
    padding: 30px; } }

.wp-block-cover .wp-block-cover__inner-container :last-child {
  margin-bottom: 0; }

.wp-block-file {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 15px; }
  .wp-block-file a {
    order: 1;
    text-decoration: none; }
  .wp-block-file a:not(.wp-block-file__button) {
    color: #666;
    pointer-events: none; }
  .wp-block-file .wp-block-file__button {
    margin: 0 15px 0 0;
    order: 0; }

.wp-block-gallery ul.blocks-gallery-grid {
  margin-left: 0;
  padding-left: 0;
  padding-top: 25px;
  margin-bottom: 25px; }

.wp-block-gallery:first-child ul.blocks-gallery-grid {
  padding-top: 0; }

.wp-block-gallery:last-child ul.blocks-gallery-grid {
  margin-bottom: -16px; }

.wp-block-image figcaption {
  color: #666;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 10px; }

.wp-block-latest-posts {
  clear: both;
  margin-left: 0; }

.wp-block-latest-posts li {
  list-style-type: none; }

.wp-block-latest-posts.aligncenter {
  text-align: center; }

.wp-block-latest-posts.alignfull {
  padding: 0 30px; }

/* ==========================================================================
   Mobile padding
   ========================================================================== */
@media (max-width: 600px) {
  .wp-block-media-text .wp-block-media-text__content,
  .wp-block-media-text .wp-block-media-content__text {
    padding: 0; } }

@media (max-width: 600px) {
  .wp-block-media-text > figure > img {
    width: auto; } }

.wp-block-quote,
.wp-block-pullquote {
  border: none;
  margin: 24px 0 36px; }
  .wp-block-quote p,
  .wp-block-pullquote p {
    font-size: 21px;
    font-style: italic;
    line-height: 1.8;
    margin-bottom: 42px; }

.wp-block-pullquote p,
.wp-block-quote.is-style-large p {
  font-size: 28px; }

.wp-block-pullquote.is-style-solid-color p {
  color: #fff;
  margin-bottom: 42px;
  text-align: center; }

.wp-block-pullquote.is-style-solid-color {
  background-color: #333; }

.wp-block-pullquote:not(.is-style-solid-color)[style*="border-color"] {
  border: 2px solid;
  border-left: none;
  border-right: none; }

.wp-block-quote cite,
.wp-block-pullquote cite {
  color: #666;
  display: block;
  font-family: "Source Sans Pro", serif;
  font-size: 16px;
  font-style: italic;
  margin-top: -25px;
  text-align: inherit;
  text-transform: none; }

.wp-block-pullquote cite {
  text-align: center; }

.wp-block-pullquote.is-style-solid-color cite {
  color: #fff;
  font-style: italic; }

.wp-block-pullquote .has-text-color cite,
.wp-block-pullquote .has-text-color p {
  color: currentColor; }

.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
  color: #666;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 10px; }

.wp-block-table {
  margin-bottom: 25px; }
  .wp-block-table table {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    border: none;
    margin-bottom: 10px;
    table-layout: fixed;
    width: 100%; }
    .wp-block-table table td,
    .wp-block-table table th {
      padding: 8px 15px;
      border: none;
      border-top: 1px solid rgba(102, 102, 102, 0.2);
      border-bottom: 1px solid rgba(102, 102, 102, 0.2);
      color: #666;
      line-height: 1em;
      font-size: 18px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      max-width: 1px; }
      @media (min-width: 600px) and (max-width: 960px) {
        .wp-block-table table td,
        .wp-block-table table th {
          font-size: 15px;
          padding: 5px; } }
      @media (max-width: 600px) {
        .wp-block-table table td,
        .wp-block-table table th {
          font-size: 15px;
          padding: 5px; } }
    .wp-block-table table th {
      background-color: black;
      color: white;
      font-weight: bold; }

/* ==========================================================================
   Margin-bottom is zero
   ========================================================================== */
div[class*="wp-block-atomic-blocks"] :last-child:not(li) {
  margin-bottom: 0; }

/* ==========================================================================
   Defaults: mobile padding and alignment
   ========================================================================== */
div[class*="wp-block-atomic-blocks"] h1:first-child, div[class*="wp-block-atomic-blocks"] .editor-post-title__block .editor-post-title__input:first-child, .editor-post-title__block div[class*="wp-block-atomic-blocks"] .editor-post-title__input:first-child,
div[class*="wp-block-atomic-blocks"] h2:first-child,
div[class*="wp-block-atomic-blocks"] h3:first-child,
div[class*="wp-block-atomic-blocks"] h4:first-child,
div[class*="wp-block-atomic-blocks"] h5:first-child,
div[class*="wp-block-atomic-blocks"] h6:first-child,
.wp-block-atomic-blocks-ab-columns h1:first-child,
.wp-block-atomic-blocks-ab-columns .editor-post-title__block .editor-post-title__input:first-child,
.editor-post-title__block .wp-block-atomic-blocks-ab-columns .editor-post-title__input:first-child,
.wp-block-atomic-blocks-ab-columns h2:first-child,
.wp-block-atomic-blocks-ab-columns h3:first-child,
.wp-block-atomic-blocks-ab-columns h4:first-child,
.wp-block-atomic-blocks-ab-columns h5:first-child,
.wp-block-atomic-blocks-ab-columns h6:first-child {
  margin-top: 0;
  padding-top: 0; }

@media (min-width: 600px) and (max-width: 960px) {
  div[class*="wp-block-atomic-blocks"].ab-block-container, div[class*="wp-block-atomic-blocks"].wp-block-atomic-blocks-ab-columns,
  .wp-block-atomic-blocks-ab-columns.ab-block-container,
  .wp-block-atomic-blocks-ab-columns.wp-block-atomic-blocks-ab-columns {
    padding: 60px !important; } }

.inner-add-margin, body.first-block-is-section .entry-content > :first-child.wp-block-cover > .wp-block-cover__inner-container, body.first-block-is-section .entry-content > :first-child.gutenberg-section .content-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-container > .ab-container-inside, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-columns > .ab-layout-column-wrap {
  margin-top: 105px; }
  @media (min-width: 600px) and (max-width: 960px) {
    .inner-add-margin, body.first-block-is-section .entry-content > :first-child.wp-block-cover > .wp-block-cover__inner-container, body.first-block-is-section .entry-content > :first-child.gutenberg-section .content-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-container > .ab-container-inside, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-columns > .ab-layout-column-wrap {
      margin-top: 70px; } }
  @media (max-width: 600px) {
    .inner-add-margin, body.first-block-is-section .entry-content > :first-child.wp-block-cover > .wp-block-cover__inner-container, body.first-block-is-section .entry-content > :first-child.gutenberg-section .content-wrap, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-container > .ab-container-inside, body.first-block-is-section .entry-content > :first-child.wp-block-atomic-blocks-ab-columns > .ab-layout-column-wrap {
      margin-top: 70px; } }

body.first-block-is-section .site-inner {
  margin-top: 0 !important; }

@media (min-width: 960px) {
  body.first-block-is-section .entry-content > :first-child.gutenberg-section {
    padding-top: 10vh;
    padding-bottom: 10vh; } }

@media (min-width: 1200px) {
  body.first-block-is-section .entry-content > :first-child.gutenberg-section {
    padding-top: 15vh;
    padding-bottom: 15vh; } }
