/* ==========================================================================
   Get global options
   ========================================================================== */

@import "global";

/* ==========================================================================
   Includes
   ========================================================================== */

//* Early-load defaults
@import "defaults/reset";
@import "defaults/screenreader";
@import "general";
@import "typography";
@import "header";
@import "entry-header";
@import "nav";
@import "nav-responsive";
@import "plugins/gutenberg-sections";
@import "headings";
@import "buttons";
@import "widget";
@import "blog";
@import "entry";
@import "sidebar";

//* Gutenberg
@import "gutenberg/media-and-image";

//* Remaining defaults
@import "defaults/comments";
@import "defaults/gallery";
@import "defaults/forms";
@import "defaults/tables";
@import "defaults/pagination";
@import "defaults/search-form";
@import "defaults/skip-links";
@import "defaults/featured-content";
@import "defaults/print";
@import "footer";

//* Plugin-specific styles
@import "plugins/enews";
@import "plugins/genesis-simple-faq";
@import "plugins/advanced-gutenberg-blocks";
@import "plugins/atomic-blocks";

//* Media queries
@import "media-queries";
