/*
Theme Name: Elodin TwentyNineteen
Theme URI: https://elod.in
Description: Based on the Sample theme for Genesis
Author: Jon Schroeder
Author URI: https://elod.in

Version: 0.7.10

Tags: accessibility-ready, custom-colors, custom-logo, custom-menu, featured-images, footer-widgets, full-width-template, left-sidebar, one-column, right-sidebar, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, two-columns

Template: genesis

License: GPL-2.0-or-later
License URI: https://www.gnu.org/licenses/gpl-2.0.html

Text Domain: genesis-sample
*/