/* ==========================================================================
   Don't allow overflow
   ========================================================================== */

.wp-block-atomic-blocks-ab-container {
    overflow: hidden;
}

/* ==========================================================================
   Padding on mobile
   ========================================================================== */

.entry-content>.wp-block-atomic-blocks-ab-container {
    @include mobile {
        padding: 30px !important;
    }
}

/*
Frontend
========================================================================== */

@include notmobile {
    .entry-content>.wp-block-atomic-blocks-ab-container.alignfull {
        padding: 10% 5%;

        .ab-container-inside {
            max-width: 1200px;
        }
    }
}

/*
   Backend
   ========================================================================== */

.block-editor-block-list__layout>.wp-block[data-align="full"] {

    >.is-block-content>.wp-block-atomic-blocks-ab-container {
        padding: 10% 5%;

        .ab-container-inside {
            max-width: 1200px;
        }
    }
}

/* ==========================================================================
   Pull left and right
   ========================================================================== */

.wp-block-atomic-blocks-ab-container {
    &.left {
        >.ab-container-inside {
            >.ab-container-content {
                margin-left: 0;
            }
        }
    }

    &.right {
        >.ab-container-inside {
            >.ab-container-content {
                margin-right: 0;
            }
        }
    }
}