.entry-content,
.block-editor-block-list__layout {

    //* Don't select anything with a class or an empty class selector
    ol:not([class]):not([class=""]),
    ul:not([class]):not([class=""]) {
        margin-bottom: 20px;
        padding-left: 40px;

        ol,
        ul {
            margin-bottom: 0;
        }
    }
}


.block-editor-block-list__block {
    margin-bottom: 20px;
}