.wp-block-gallery {
    ul.blocks-gallery-grid {
        margin-left: 0;
        padding-left: 0;
        padding-top: 25px;
        margin-bottom: 25px;
    }

    &:first-child {
        ul.blocks-gallery-grid {
            padding-top: 0;
        }
    }

    &:last-child {
        ul.blocks-gallery-grid {
            margin-bottom: -16px;
        }
    }
}