.wp-block-latest-posts {
    clear: both;
    margin-left: 0;
}

.wp-block-latest-posts li {
    list-style-type: none;
}

.wp-block-latest-posts.aligncenter {
    text-align: center;
}

.wp-block-latest-posts.alignfull {
    padding: 0 30px;
}