.wp-block-buttons {

    &.alignright {
        .wp-block-button {
            margin: 4px 0 0 4px;
        }
    }

    &.aligncenter {
        .wp-block-button {
            margin: 4px 2px 0;
        }
    }

    .wp-block-button {
        margin: 4px 4px 0 0;

        @include mobile {
            display: block;
            width: 100%;
        }

        .wp-block-button__link {
            @extend .button;

            @include mobile {
                text-align: center;
                display: block;
                width: 100%;
            }

            @each $name,
            $color in $colors {

                &.has-#{$name}-color,
                &.has-color-#{$name},
                &.#{$name} {
                    color: $color;
                }

                &.has-#{$name}-background-color,
                &.background-#{$name},
                &.#{$name}-background {
                    background-color: $color;

                    &:hover {
                        background-color: lighten($color, 7%);
                        border-color: lighten($color, 7%);
                    }
                }
            }
        }

        &.is-style-outline .wp-block-button__link {
            background-color: transparent !important;
            border-color: white !important;
        }
    }
}