.wp-block-quote,
.wp-block-pullquote {
    border: none;
    margin: 24px 0 36px;

    p {
        font-size: 21px;
        font-style: italic;
        line-height: 1.8;
        margin-bottom: 42px;
    }
}

.wp-block-pullquote p,
.wp-block-quote.is-style-large p {
    font-size: 28px;
}

.wp-block-pullquote.is-style-solid-color p {
    color: #fff;
    margin-bottom: 42px;
    text-align: center;
}

.wp-block-pullquote.is-style-solid-color {
    background-color: #333;
}

.wp-block-pullquote:not(.is-style-solid-color)[style*="border-color"] {
    border: 2px solid;
    border-left: none;
    border-right: none;
}

.wp-block-quote cite,
.wp-block-pullquote cite {
    color: #666;
    display: block;
    font-family: "Source Sans Pro", serif;
    font-size: 16px;
    font-style: italic;
    margin-top: -25px;
    text-align: inherit;
    text-transform: none;
}

.wp-block-pullquote cite {
    text-align: center;
}

.wp-block-pullquote.is-style-solid-color cite {
    color: #fff;
    font-style: italic;
}

.wp-block-pullquote .has-text-color cite,
.wp-block-pullquote .has-text-color p {
    color: currentColor;
}

.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
    color: #666;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 10px;
}