.wp-block-table {
    margin-bottom: 25px;

    table {
        background-color: white;
        box-shadow: 0 0 10px rgba(black, 0.07);
        border: none;
        margin-bottom: 10px;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            padding: 8px 15px;
            border: none;
            border-top: 1px solid rgba($default, 0.2);
            border-bottom: 1px solid rgba($default, 0.2);
            color: $default;
            line-height: 1em;
            font-size: 18px;
            word-wrap: break-word;
            overflow-wrap: break-word;
            max-width: 1px;

            @include tablet {
                font-size: 15px;
                padding: 5px;
            }

            @include mobile {
                font-size: 15px;
                padding: 5px;
            }
        }

        th {
            background-color: black;
            color: white;
            font-weight: bold;
        }
    }
}