.wp-block-getwid-section__background {
    &.has-background {
        padding: 0;
        margin: 0;
    }
}

/* ==========================================================================
   Default mobile padding
   ========================================================================== */

.wp-block-getwid-section__wrapper {
    @include mobile {
        padding: 30px !important;
    }
}

/* ==========================================================================
   Hide dividers on mobile 
   ========================================================================== */

.wp-block-getwid-section__divider {
    @include mobile {
        display: none;
    }
}