body.blog.full-width-content,
body.archive.full-width-content {
    .content {
        width: $defaultcontentwidth;
        max-width: 100%;

        .archive-description {
            display: none;
        }

        .content-sidebar-wrap {
            @include desktop {
                padding-top: 2vw;
            }

            @include notdesktop {
                padding-top: 30px;
            }
        }

        @include desktop {

            .entry-wrap {
                margin-top: 2vw;
                display: flex;
                flex-flow: row wrap;
                width: calc(100% + 40px);
                margin-left: -20px;
                margin-right: -20px;

                >* {
                    width: calc(100% - 40px);
                    margin: 0 20px 40px;
                }

                .entry {
                    margin: 0 20px 80px;
                    width: calc(100% / 2 - 40px);
                }


            }
        }

        .featured-image-wrap {
            margin-bottom: 20px;
        }

        .featured-image {
            width: 100%;
            height: 0;
            padding-top: 40%;
            display: block;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            @include mobile {
                padding-top: 55%;
            }
        }

        .post-edit-link {
            text-decoration: none;
            color: $default;
        }

        h2.entry-title {
            margin-bottom: 5px;
            line-height: 1em;
        }
    }

    .archive-pagination {
        text-align: center;
    }
}

body.blog.full-width-content,
body.archive.full-width-content {
    &:not(.paged) {
        @include desktop {
            .entry-wrap> {
                .entry:first-child {
                    width: calc(100% - 60px);
                    display: flex;
                    align-items: center;

                    >* {
                        margin: 0 30px;
                    }

                    .featured-image-wrap {
                        width: 65%;
                        margin-left: 0;

                        .featured-image {
                            padding-top: 60%;
                        }
                    }


                    .archive-content {
                        width: 35%;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}