.button,
.gform_wrapper .gform_footer .gform_button.button {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    background-color: $highlight;
    letter-spacing: 0.1em;
    font-size: 14px;
    padding: 15px 20px;
    line-height: 1em;
    position: static;
    transition: .3s all ease;
    border: 2px solid $highlight;
    border-radius: 3px;
    text-decoration: none !important;
    display: inline-block;

    @include mobile {
        text-align: center;
        display: block;
        width: 100%;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: lighten($highlight, 7%);
        border-color: lighten($highlight, 7%);
        color: white;
    }

    @each $name,
    $color in $colors {

        &.has-#{$name}-color,
        &.has-color-#{$name},
        &.#{$name} {
            color: $color;
        }

        &.has-#{$name}-background-color,
        &.background-#{$name},
        &.#{$name}-background {
            background-color: $color;
            border-color: $color;

            &:hover {
                background-color: lighten($color, 7%);
                border-color: lighten($color, 7%);
            }
        }
    }
}