/* ==========================================================================
   For pages
   ========================================================================== */

.full-width-content .content>article .entry-header {
   margin-bottom: 3vw;
   padding-top: 3vw;
}

.error404 {
   .entry-title {
      padding-top: 3vw;
   }
}