/* ==========================================================================
   Single
   ========================================================================== */

body.single-post {
    background-color: white;

    .content-sidebar-wrap {
        >.content {
            margin-bottom: 75px;
        }
    }

    @include mobile {
        background-color: white;
    }

    h1.entry-title {
        margin-bottom: 5px;
    }

    .entry-header {
        margin-bottom: 40px;
    }

    .content>.entry {
        margin-bottom: 30px !important;
    }

    #respond {
        @include desktop {
            padding: 30px;
            box-shadow: 0 10px 30px 0 rgba(black, 0.07);
            border-radius: 3px;
        }
    }

    .entry-footer p.entry-meta {
        display: none;
    }
}


/* ==========================================================================
   Single
   ========================================================================== */

body.single-post {
    .comment-respond {
        background-color: white;
    }
}