/* ==========================================================================
   Font
   ========================================================================== */
p,
ul {
    font-family: "Source Sans Pro", sans-serif;

    br {
        @include mobile {
            display: none;
        }
    }
}


/* ==========================================================================
   General typeography
   ========================================================================== */


li {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;

    @include mobile {
        font-size: 16px;
    }
}

ol,
ul {
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    border-collapse: collapse;
    border-top: 1px solid #eee;
    clear: both;
    margin: 30px auto;
    width: 100%;
}

b,
strong {
    font-weight: 700;
}

mark {
    background: #ddd;
    color: #333;
}

/* ==========================================================================
   Text alignment 
   ========================================================================== */

.has-text-align-center,
.has-text-align-right,
.alignright,
.aligncenter {
    @include mobile {
        float: none;
        text-align: left;
    }
}

/* ==========================================================================
   Font sizes
   ========================================================================== */

p {
    margin: 0 0 20px;
    padding: 0;
    font-size: 18px;
    line-height: 1.6em;

    @include mobile {
        font-size: 16px;
    }
}


p.has-small-font-size {
    font-size: 13px;
}

p.has-regular-font-size {
    font-size: 18px;

    @include mobile {
        font-size: 14px;
    }
}

p.has-large-font-size {
    font-size: 22px;

    @include mobile {
        font-size: 18px;
    }
}

p.has-larger-font-size {
    font-size: 26px;

    @include mobile {
        font-size: 20px;
    }
}

/* ==========================================================================
   Drop caps
   ========================================================================== */

p.has-drop-cap:not(:focus)::first-letter {
    margin: 0.02em 0.08em 0 -0.08em;
}

p.has-larger-font-size.has-drop-cap:not(:focus)::first-letter,
p.has-small-font-size.has-drop-cap:not(:focus)::first-letter {
    margin-right: 0.01em;
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
    color: $highlight;
    text-decoration: underline;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
    color: lighten($highlight, 5%);
}

p.has-text-color a,
p.has-background a {
    color: inherit;
}

p.has-text-color a:focus,
p.has-background a:focus,
p.has-text-color a:hover,
p.has-background a:hover {
    color: inherit;
    text-decoration: none;
}

p.has-background.light-text a {
    color: #fff;
    text-decoration: underline;
}

/* ==========================================================================
   Background colors
   ========================================================================== */

.has-background:not(.block-editor-rich-text__editable) {
    padding: 25px 30px;
    margin-bottom: 20px;
}

.has-background :last-child {
    margin-bottom: 0;
}

.has-background.box-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}