/* ==========================================================================
   General
   ========================================================================== */

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    scroll-padding-top: $headerheightdesktop;

    @include tablet {
        scroll-padding-top: $headerheighttablet;
    }

    @include mobile {
        scroll-padding-top: $headerheightmobile;
    }
}

body {
    background-color: #fff;
    color: #333;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.625;
    margin: 0;
    overflow-x: hidden;
}

/* ==========================================================================
   Log in/log out hiding
   ========================================================================== */
body.logged-in {
    .show-logged-out {
        display: none;
    }
}



body.logged-out {
    .show-logged-in {
        display: none;
    }
}


/* ==========================================================================
   Alignment
   ========================================================================== */

.wp-block-button.alignleft,
.wp-block-cover.alignleft,
.wp-block-image .alignleft {
    margin-right: 2em;
}

.wp-block-button.alignright,
.wp-block-cover.alignright,
.wp-block-image .alignright {
    margin-left: 2em;
}

.wp-block-image.alignwide,
.wp-block-image.alignfull,
.wp-block-embed.alignwide,
.wp-block-embed.alignfull {
    margin-bottom: 30px;
}

.full-width-content .entry-content .alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
}

.content-sidebar .entry-content .alignfull,
.sidebar-content .entry-content .alignfull {
    margin: 0 0 2em;
    width: 100%;
}

@media only screen and (max-width: 510px) {
    .wp-block-button.alignright {
        float: left;
        margin-left: 0;
    }
}

@include desktop {
    .full-width-content .entry-content .alignwide {
        margin-left: -210px;
        margin-right: -210px;
        max-width: 1200px;
    }
}

/* ==========================================================================
   Columns
   ========================================================================== */

.entry-content .wp-block-columns {
    margin-bottom: 0;
}

.entry-content .wp-block-column {
    margin-bottom: 50px;
}

.entry-content .wp-block-columns.alignfull {
    padding: 0 30px;
}


/* ==========================================================================
   Hide on size
   ========================================================================== */

@include mobile {
    .hide-on-mobile {
        display: none !important;
    }
}

@include notmobile {
    .show-on-mobile {
        display: none !important;
    }
}

@include desktop {
    .hide-on-desktop {
        display: none !important;
    }
}

@include notdesktop {
    .show-on-desktop {
        display: none !important;
    }
}

@include tablet {
    .hide-on-tablet {
        display: none !important;
    }
}


/* ==========================================================================
   Containers
   ========================================================================== */

.site-container {
    animation: fadein 0.5s;
    word-wrap: break-word;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.site-inner {
    clear: both;
    margin: 0 auto;

    @include desktop {
        margin-top: $headerheightdesktop;
    }

    @include tablet {
        margin-top: $headerheighttablet;
    }

    @include mobile {
        margin-top: $headerheightmobile;
    }

    max-width: calc(#{$defaultcontentwidth} + 60px);
    padding: 0 30px;
}

@include desktop {
    .content {
        float: left;
        width: 65%;
    }

    .sidebar-content .content {
        float: right;
    }

    .full-width-content .content,
    .landing-page .content {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar {
        float: right;
        width: 30%;
    }

    .sidebar-content .sidebar {
        float: left;
    }
}

/* ==========================================================================
   Objects
   ========================================================================== */

embed,
iframe,
img,
object,
video,
.wp-caption {
    max-width: 100%;
}

img {
    height: auto;
    vertical-align: top;
}

figure {
    margin: 0;
}

/* ==========================================================================
   Avatar
   ========================================================================== */

.avatar {
    border-radius: 50%;
    float: left;
}

.author-box .avatar,
.alignleft .avatar {
    margin-right: 20px;
}

.alignright .avatar {
    margin-left: 20px;
}

.comment .avatar {
    margin: 0 15px 20px 0;
}

/* ==========================================================================
   Genesis
   ========================================================================== */

.after-entry,
.archive-description,
.author-box {
    margin-bottom: 40px;
}

.after-entry {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 20px 30px;
}

.after-entry .widget:last-of-type {
    margin-bottom: 0;
}

.breadcrumb {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.archive-description p:last-child,
.author-box p:last-child {
    margin-bottom: 0;
}

@include desktop {

    .after-entry,
    .author-box,
    .comment-respond,
    .entry,
    .entry-comments,
    .entry-pings {
        margin-bottom: 60px;
    }
}

/* ==========================================================================
   WordPress
   ========================================================================== */

a.aligncenter img {
    display: block;
    margin: 0 auto;
}

a.alignnone {
    display: inline-block;
}

.alignleft {
    float: left;
    text-align: left;
}

.alignright {
    float: right;
    text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
    max-width: 100%;
}

img.centered,
.aligncenter {
    display: block;
    margin: 0 auto 30px;
}

img.alignnone,
.alignnone {
    margin-bottom: 15px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
    margin: 0 20px 20px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
    margin: 0 0 20px 20px;
}

.gallery-caption,
.wp-caption-text {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.entry-content p.wp-caption-text {
    margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
    margin: 0 0 30px;
}

/* ==========================================================================
   Edit links
   ========================================================================== */

.post-edit-link {
    display: block;
    font-size: 13px;
    margin: 10px 0;
}