/* ==========================================================================
   Don't allow overflow
   ========================================================================== */

.wp-block-atomic-blocks-ab-container {
    overflow: hidden;
}

/* ==========================================================================
   Last child margin bottom
   ========================================================================== */

.wp-block-atomic-blocks-ab-container {

    h1,
    h2,
    h3,
    h4,
    p,
    ul {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* ==========================================================================
   No padding bottom
   ========================================================================== */

.wp-block-atomic-blocks-ab-container.no-padding-bottom {
    padding-bottom: 0 !important;
}


/* ==========================================================================
   Padding on mobile
   ========================================================================== */

.entry-content>.wp-block-atomic-blocks-ab-container {
    @include mobile {
        padding: 30px !important;
    }
}

/*
Frontend
========================================================================== */

@include notmobile {
    .entry-content>.wp-block-atomic-blocks-ab-container.alignfull {
        padding: 10% 5%;

        .ab-container-content {
            max-width: 1200px;
        }
    }
}

/* ==========================================================================
   WordPress (WordPress 5.4-)
   ========================================================================== */

.block-editor-block-list__layout {

    >.wp-block[data-align="full"] {

        >.is-block-content>.wp-block-atomic-blocks-ab-container {
            padding: 10% 5%;

            .ab-container-inside {
                max-width: 1200px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

/*
   Backend (WordPress 5.5)
   ========================================================================== */

.is-root-container {

    >[data-type="atomic-blocks/ab-container"] {

        >.wp-block[data-align="full"] {

            >.ab-block-container {
                padding: 10% 5%;

                >.ab-container-inside {

                    max-width: 1200px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

/* ==========================================================================
   Pull left and right
   ========================================================================== */

.wp-block-atomic-blocks-ab-container {
    &.left {
        >.ab-container-inside {
            >.ab-container-content {
                margin-left: 0;
            }
        }
    }

    &.right {
        >.ab-container-inside {
            >.ab-container-content {
                margin-right: 0;
            }
        }
    }
}