.wp-block-genesis-blocks-gb-container {
    &.full-height {
        @include desktop {
            min-height: 100vh;
            display: flex;
            align-items: center;

            .gb-container-content,
            .gb-container-inside {
                width: 100%;
            }
        }
    }
}

body.admin-bar {
    .wp-block-genesis-blocks-gb-container {
        &.full-height {
            @include desktop {
                min-height: calc(100vh - #{$adminbarheightdesktop});
            }
        }
    }
}