.comment-respond,
.entry-comments,
.entry-pings {
    margin-bottom: 40px;
}

.comment-list {
    li {
        list-style: none;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        margin-bottom: 10px;
        font-size: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    >li {
        background-color: white;
        border-radius: 3px;
        padding: 0;
        padding: 20px 20px 15px;
        line-height: 1.3em;

        .children li article {
            padding: 10px;
            background-color: $light;
            margin-bottom: 5px;
            border-radius: 3px;

            .comment-reply {
                margin-bottom: 0;
            }
        }

    }

    .comment .avatar {
        margin: 0 10px 10px 0;
    }

    .comment-author {
        font-size: 18px;
    }

    .comment-header {
        margin-bottom: 0;

        p {
            margin-bottom: 0;
        }

        a {
            color: rgba($default, 50%);
            font-size: 15px;
        }

        .comment-meta {
            display: inline;
        }
    }

    .comment-reply {
        margin-bottom: 10px;

        a {
            color: rgba($default, 50%);
            font-size: 15px;
        }
    }
}

.comment-respond {
    background-color: $light;

    a {
        color: rgba($default, 50%);
        font-size: 15px;
        text-transform: none;
        letter-spacing: 0;
    }

    input#submit {
        @extend .button;
    }
}

.comment-content {
    clear: both;
}

.comment-content ul>li {
    list-style-type: disc;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
    width: 50%;
}

.comment-respond label {
    display: block;
    margin-right: 12px;
}

.entry-pings .reply {
    display: none;
}

.comment-form-cookies-consent label {
    display: inline;
    padding-left: 10px;
}