input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="url"],
select,
textarea {
    background-color: #fff;
    border: 1px solid darken($light, 1%);
    color: #333;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="search"],
select {
    border: 1px solid #ddd;
    padding-left: 15px;
    min-height: 50px;
}

textarea {
    padding: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea {
    &:focus {
        border: 1px solid #999;
        outline: none;
    }
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
    width: auto;
}

::-ms-input-placeholder {
    color: #333;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #333;
    opacity: 1;
}

::placeholder {
    color: #333;
    opacity: 1;
}

body .gform_wrapper {

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="number"],
    input[type="password"],
    input[type="url"],
    input[type="search"],
    textarea {
        border: 1px solid #ddd !important;

        &:focus {
            border: 1px solid #333 !important;
        }
    }

    .gform_footer {
        .gform_button {
            width: 100% !important;
            display: block !important;
        }
    }

    .gfield:not(.hidden_label) {
        margin-top: 15px;
    }

    .gsection {
        padding-top: 5px !important;
        border: none !important;
        margin-bottom: 15px !important;
        padding-bottom: 0 !important;

        .gsection_title {
            @extend h3;
            padding-bottom: 5px;
            margin-bottom: 5px !important;
            border-bottom: 2px solid rgba($dark, 0.1);
        }

        .gsection_description {
            font-size: 16px;
            font-style: italic;
        }

        > :last-child {
            margin-bottom: 0 !important;
        }
    }

    .charleft.ginput_counter {
        font-style: italic;
        font-size: 13px;
    }
}

body .gform_wrapper.dark_wrapper {
    padding: 30px !important;
    background-color: $dark;
    border-radius: 3px;

    .gsection {
        border: none !important;

        .gsection_title {
            @extend h3;
            color: white;
            border-bottom: 2px solid rgba(white, 0.1);

        }

        .gsection_description {
            color: white;
        }
    }

    .gfield:not(.hidden_label) {

        .gfield_label {
            color: white;
        }

        .ginput_container label {
            color: white;
        }
    }

    .charleft.ginput_counter {
        color: white;
    }
}